@import '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css';
@import '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css';

body {
    background-color: lightblue;
  }

  .botonesControl {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .titulo {
color: #425edb

  }

  
  .linea {
    height:2px;
    border-width:0;color:black;
    background-color:black
    
    }